<!DOCTYPE html>
<html>
<head>
  <title>Driver</title>
</head>
<body>
  <h2>🚚 Driver mode</h2>
  <button id="start">Start sharing location</button>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    socket.emit("register-driver");

    document.getElementById("start").onclick = () => {
      navigator.geolocation.watchPosition((pos) => {
        socket.emit("send-location", {
          latitude: pos.coords.latitude,
          longitude: pos.coords.longitude,
        });
      });
    };
  </script>
</body>
</html>
